@import "styles.css";


// general Styles
:root{
    --primary-color: #007bff; /* blue */
    --secondary-color: #6c757d; /* gray */
    --success-color: #28a745; /* green */
    --danger-color: #dc3545; /* red */
    --warning-color: #ffc107; /* yellow */
    --info-color: #17a2b8; /* teal */
    --light-color: #f8f9fa; /* light gray */
    --dark-color: #343a40; /* dark gray */
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 16px;
    font-family: 'Roboto', sans-serif, 'Times New Roman', Times;
    color: var(--dark-color);
    // font-weight: 100;
    align-items: center;
    text-decoration: none;
    list-style: none;
}


// Background
.background {
    display: flex;
    flex-direction: column;
    justify-content: center;
    // height: 100vh;
    // width: 100vw;
    padding: 1rem;
    background-color: var(--warning-color);
}


// styling ad listing
.book_container {
    display: flex;
    flex-direction: column;
    width: clamp(400px, 500px, 80%);

    padding: 1rem;

    border-width: 0.2rem;
    border-style: solid;
    border-radius: 0.2rem;
    border-color: var(--danger-color);
    background: #f8f9fa;
}



.booktitle {
    font-size: 1.5rem;
    color: #dc3545;
    font-weight: 500;
}

.author{
}

.pages{
}


// Button Styling
button {
    background-color: (var(--light-color));
    color: var(--dark-color);
    font-size: .8rem;
    border: none;
    border-radius: .2rem;
    padding: .2rem;
    animation-duration: 5ms;
}

button:hover {
    // color: var(--secondary-color);
    cursor: pointer;
}

// read status buttons
#isRead {
    color: var(--light-color);
}

.read-status {
    background-color: (var(--success-color));
}

.unread-status {
    background-color: (var(--danger-color));
}

.read-status:hover {
    background-color: #198b33;
}

.unread-status:hover {
    background-color: #ba2232;
}


.deleteButton {
    border: .1rem solid var(--danger-color);
    border-radius: .2rem;
    color: var(--danger-color);
    font-size: .8rem;
    padding: .2rem;
}

.deleteButton:hover {
    color: #ba2232;
}

header{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: #6c757d;
}
.open_modal {
    background-color: var(--info-color);
    color: var(--light-color);
    border: none;
    border-radius: 0.2rem;
    padding: 0.2em;
}

.open_modal:hover {
    background-color: #097586;
}

// dialog
dialog {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color:#007bff;
    width: clamp(95%, 200px, 300px);
    padding: 1rem;
    border-radius: 1rem;
    border: none;
}

dialog::backdrop {
    background-color: orange;
    opacity: .4;
}

.divDiag {
    display: flex;
    flex-direction: column;
    justify-content: start;
}

.button-div{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}

dialog button {
    background-color: var(--success-color);
    color: var(--light-color);
    border: none;
    border-radius: 0.2rem;
    padding: 0.2em;
}

dialog button:hover{
    background-color: #198532;
}

dialog #cancel{
    background-color: var(--danger-color);
    color: var(--light-color);
    border: none;
    border-radius: 0.2rem;
    padding: 0.2em;
}

